<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teachers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.TeachersMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--Mine-->
        <activity android:name=".Mine.MineGoodActivity" />
        <activity android:name=".Mine.MineActivity_signup"/>
        <activity android:name=".Mine.MineActivity_setup"/>
        <activity android:name=".Mine.MineActivity_setup_safety"/>
        <activity android:name=".Mine.MineActivity_setup_safety_updatepassword"/>
        <activity android:name=".Mine.MineActivity_setup_warn"/>
        <activity android:name=".Mine.MineActivity_help"/>
        <activity android:name=".Mine.MineActivity_questions"/>
        <activity android:name=".Mine.MineActivity_pi_update"/>
        <activity android:name=".Mine.MinePersonActivity"/>
    </application>

</manifest>